$header-bg: #1a1a2e;
$logo-text: #fff;

.header {
   display: flex;
   align-items: center;
   background-color: $header-bg;
   position: sticky; 
   top: 0;
   left: 0; 
   z-index: 1;
}
.title {
   font-size: 1rem;
   white-space: nowrap;
}
.logo {
   display: flex;
   align-items: center;
   font-weight: 700;
   color: $logo-text;
   height: 48px;
   padding: 0 15px;
   position: relative;
   padding-left: 58px;
   text-transform: uppercase;
   cursor: pointer;

   &::after {
      content: '';
      background: url('../../images/logo.png') no-repeat center center;
      background-size: contain;
      width: 48px;
      height: 48px;
      position: absolute;
      top: 0;
      left: 0;
   }
}
.menu {
   min-width: 0;
}
.footer {
   text-align: center;
}