.main {
   margin: 0 auto;
   padding-bottom: 25px;
   max-width: 720px;

   &Button {
      color: #000;
      position: absolute;
      top: 70px;
      left: 10px;
   }
}
.arrowIcon {
   margin-right: 10px;
}