$emotion-error: #ff0000;

.emotion {
   &Container {
      display: flex; 
      flex-direction: column; 
      align-items: center; 
      gap: 15px;
   }
   &Select {
      min-width: 250px; 
   }
   &Error {
      color: $emotion-error;
   }
   &Spin {
      top: 70%; 
      left: 50%;
      transform: translateX(-50%);
   }
}

.film {
   &Container {
      max-width: 720px;
      width: 100%;
      padding: 0 20px;
   }
}