.film {
   &Error {
      font-size: 2rem; 
      color: #ff0000; 
      margin-bottom: 10px;
   }
   &Back {
      color: #000;
   }
   &Container {
      padding: 50px;
   }
   &Title {
      font-size: 2rem; 
      font-weight: 700;
   }
}
.video {
   width: 50dvw;
   max-width: 720px;

   &Frame {
      width: 50dvw;
      max-width: 720px;
      height: 30dvh;
      max-height: 400px;
   }
}
.header {
   display: flex;
   align-items: center;
   gap: 10px;
}

@media (max-width: 425px) {
   .film {
      &Container {
         padding: 50px 10px;
      }
   }
}