.container {
   cursor: pointer;
}
.error {
   color: #ff0000;
}
.film {
   &Img {
      width: 100%; 
      height: 320px;
   }
   &Name {
      font-size: 1.15rem; 
      font-weight: 700; 
      text-align: center;
   }
}
.mainContainer {
   padding: 0 10px;
}

@media (max-width: 425px) {
   .film {
      &Img {
         height: 200px;
      }
   }
}

@media (max-width: 375px) {
   .film {
      &Img {
         height: 175px;
      }
   }
}

@media (max-width: 320px) {
   .film {
      &Img {
         height: 150px;
      }
   }
}